<html>
    <html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Corporate 2</title>

    
</head>

<body>
    
    <!-- Content -->
    <div class="container">

        <!-- Page Intro -->
        <div class="row page-intro">
            <div class="col-lg-12">
                <h1>¿Cómo saber cuáles son los lenguajes de programación más usados?
                                    </h1>
                <p>
                    Uno de los más conocidos es el índice TIOBE, que se elabora combinando el número de páginas web dedicadas a un lenguaje, el número de búsquedas en diferentes buscadores, cantidad de profesionales certificados…                    <br> Para definir de manera sencilla qué es un lenguaje de programación voy a definir cada palabra; lenguaje es una forma o sistema de comunicación y la programación es el procedimiento de escritura del código fuente de un software o programa.
                    in embargo, al contar el número de páginas dedicadas a un lenguaje, el índice TIOBE puede no reflejar el interés y uso real en la actualidad. 

                  <br>  En cambio, el índice PYPL (Popularity of Programming Language Index) analiza la frecuencia con la que se buscan tutoriales para aprender un lenguaje de programación. 
                    
                    Así, supone que a más búsquedas, más popular es el lenguaje de programación. Según el Índice PYPL, los 10 lenguajes de programación más usados en todo el mundo son los siguientes.
                 </p>
            </div>
        </div>
        <div class="row">
            <article class="col-md-4 article-intro">
                <a href="#">
                    <img class="img-responsive img-rounded" src="holder.js/700x300" alt="">
                </a>
                <h3>
                    <a href="#">1. Python</a>
                </h3>
                <p>
                    Python es uno de los lenguajes de programación más usados actualmente y la tendencia sigue al alza. Lo tiene todo: es de código abierto, una sintaxis sencilla y fácil de entender, por lo que ahorra tiempo y recursos. Es uno de los mejores para iniciarse en el mundo de la programación.    
                </article>

            <article class="col-md-4 article-intro">
                <a href="#">
                    <img class="img-responsive img-rounded" src="holder.js/700x300" alt="">
                </a>
                <h3>
                    <a href="#">2. Java</a>
                </h3>
                <p> 
                    Java es un lenguaje de programación de propósito general, orientado a objetos y diseñado para tener las dependencias de implementación mínimas posibles. Con este lenguaje de programación se pueden crear aplicaciones y procesos en múltiples dispositivos.                </p>
            </article>

            <article class="col-md-4 article-intro">
                <a href="#">
                    <img class="img-responsive img-rounded" src="holder.js/700x300" alt="">
                </a>
                <h3>
                    <a href="#">3. JavaScript</a>
                </h3>
                <p>
                    Este lenguaje de programación sirve para todo: aplicaciones web, servidores, aplicaciones móviles… Su peculiaridad es que no necesita compilación ninguna, ya que es el propio navegador quién lee el código y realiza las acciones que le indica. Por este motivo, es uno de los lenguajes para crear páginas web cuando se quieren plantear elementos interactivos o más visuales.                </p>
            </article>

            <article class="col-md-4 article-intro">
                <a href="#">
                    <img class="img-responsive img-rounded" src="holder.js/700x300" alt="">
                </a>
                <h3>
                    <a href="#">4. C#</a>
                </h3>
                <p>
                    C# es un lenguaje que sigue apareciendo en los listados de lenguajes de programación más usados. Creado por Microsoft, está presente en entornos empresariales, como instituciones gubernamentales, entidades bancarias o médicas.                </article>
                
            <article class="col-md-4 article-intro">
                <a href="#">
                    <img class="img-responsive img-rounded" src="holder.js/700x300" alt="">
                </a>
                <h3>
                    <a href="#">5. PHP</a>
                </h3>
                <p> 
                    PHP es un lenguaje de programación de propósito general de código del lado del servidor. Este lenguaje garantiza una buena comunicación entre web y servidor, por lo que las páginas web desarrolladas con este lenguaje son estables y con buen rendimiento.             </article>

            <article class="col-md-4 article-intro">
                <a href="#">
                    <img class="img-responsive img-rounded" src="holder.js/700x300" alt="">
                </a>
                <h3>
                    <a href="#">6. C/C++</a>
                </h3>
                <p>
                    C++ es un lenguaje de programación surgido como extensión del lenguaje C para que pudiese manipular objetos.  Ambos lenguajes de programación siguen siendo utilizados en la actualidad en bases de datos, navegadores web, compiladores o videojuegos.            </article>

                    <article class="col-md-4 article-intro">
                        <a href="#">
                            <img class="img-responsive img-rounded" src="holder.js/700x300" alt="">
                        </a>
                        <h3>
                            <a href="#">7. R</a>
                        </h3>
                        <p>
                            R es un lenguaje de programación enfocado al análisis estadístico. Se trata de uno de los lenguajes de programación más utilizados en investigación científica, aunque también tiene aplicaciones al machine learning, minería de datos, investigación biomédica o matemáticas financieras.                        </article>
        
                    <article class="col-md-4 article-intro">
                        <a href="#">
                            <img class="img-responsive img-rounded" src="holder.js/700x300" alt="">
                        </a>
                        <h3>
                            <a href="#">8. Objective-C</a>
                        </h3>
                        <p> 
                            Objective-C es un lenguaje más complejo y con diferencias con respecto a otros lenguajes como C# o Java. Esto hace que muchos programadores vean como una barrera para desarrollar para iOS o macOS comprender bien y usar Objective-C.                    </article>
        
                    <article class="col-md-4 article-intro">
                        <a href="#">
                            <img class="img-responsive img-rounded" src="holder.js/700x300" alt="">
                        </a>
                        <h3>
                            <a href="#">9. Matlab</a>
                        </h3>
                        <p>
                            Matlab es la abreviatura de Matrix Laboratory, laboratorio de matrices, y es un sistema de cómputo numérico que ofrece un IDE (Entorno de Desarrollo Integrado) con lenguaje de programación propio (M).                     </article>

        </div>



    </div>

    
</body>        

</html>